<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="RootHook"
        android:allowBackup="false"
        android:supportsRtl="true">

        <meta-data android:name="xposedmodule"      android:value="true" />
        <meta-data android:name="xposeddescription" android:value="RootHook: Dynamic on-device hook injector. Write JS-style rules in KSU WebUI, inject into any app at runtime." />
        <meta-data android:name="xposedminversion"  android:value="82" />

    </application>

</manifest>
