<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- This is the fix — declares visibility to all packages -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:label="RootHook"
        android:allowBackup="false"
        android:supportsRtl="true">

        <meta-data android:name="xposedmodule"      android:value="true" />
        <meta-data android:name="xposeddescription" android:value="RootHook: Dynamic on-device hook injector." />
        <meta-data android:name="xposedminversion"  android:value="82" />

    </application>

</manifest>
